@import '../../styles/globalTheme.scss';

.container {
  position: relative;
  margin-bottom: 20px;
}

.hero {
  width: 100%;
}

.text {
  position: absolute;
  top: 90%;
  font-size: 32px;
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC';

  @media #{$md} {
    top: 85%;
  }

  @media #{$sm} {
    top: 80%;
  }

  @media #{$sm} {
    font-size: 18px;
  }
}
