@import '../../styles/globalTheme.scss';

.poster {
  flex-shrink: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    outline: white 2px solid;
  }
}

.container {
  width: var(--thumbnail-width-px);
  margin: auto;
}

.title {
  font-size: 16px;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.info-line {
  display: flex;
}

.year {
  flex: 1 0px;
}

.type {
  border: 1px solid $primary-text-color;
  border-radius: 3px;
  padding: 0 5px;
}
