@import '../../styles/globalTheme.scss';

.container {
  width: 100%;
  position: relative;
}

.next-button {
  right: 0px;
  &::before {
    left: 0;
    transform: rotate(45deg);
  }
  @media #{$sm} {
    right: -25px;
  }
}

.back-button {
  left: 0px;
  &::before {
    left: 0.1em;
    right: 0;
    transform: rotate(-135deg);
  }
  @media #{$sm} {
    left: -25px;
  }
}

.btn-arrow {
  top: 38%;
  transform: translate(0%, -50%);
  color: $white;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  width: 48px;
  height: 48px;
  background: $background;
  box-shadow: 0px 4px 13px rgba(2, 16, 32, 0.11);
  position: absolute;
  border-radius: 50%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $grey 1px solid;
  @media #{$sm} {
    top: 33%;
    width: 32px;
    height: 32px;
  }

  &:hover {
    background: $white;
    color: $background;
  }

  &:disabled {
    display: none;
  }

  &::before {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-style: solid;
    border-width: 0.125em 0.125em 0 0;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    vertical-align: top;
    @media #{$sm} {
      border-width: 0.1em 0.1em 0 0;
      width: 8px;
      height: 8px;
      left: 0.03em;
    }
  }
}
