.container {
  display: flex;
}

.content {
  margin-left: 1.5rem;
  font-size: 16px;
}

.title {
  font-size: 28px;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.plot {
  opacity: 0.8;
  line-height: 1.8;
  margin-bottom: 0.8rem;
}

.colgroup {
  col:nth-child(1) {
    width: 25%;
  }
  col:nth-child(2) {
    width: 75%;
  }
}
