@import '../../styles/globalTheme.scss';

.container {
  padding: 5px;
  width: 150px;
  text-align: center;
  background-color: $background-start;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.popover-content-container {
  :global .ant-popover-inner-content {
    background-color: $background-start;
    color: $primary-text-color;
  }
}

.popover-content {
  display: grid;
  gap: 16px;
}

.checkbox {
  color: $primary-text-color;
}
