@import '../../styles/globalTheme.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  height: 35px;
  box-shadow: 0 10px 20px rgba(27, 48, 110, 0.05);
  border-radius: 25px;
  background-color: $light-blue;
}

.query-input {
  flex: 1 0px;
  margin-left: 13px;
  border: none;
  height: 32px;
  outline: none;
  background-color: $light-blue;
  color: $primary-text-color;

  &::placeholder {
    color: $primary-text-color;
    opacity: 0.8;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  width: 30px;

  &:hover {
    cursor: pointer;
  }

  span {
    svg {
      color: $primary-text-color;
    }
  }
}
