// -------- Colors -----------
$primary-text-color: #fff;
$secondary-text-color: #f47920;
$white: #ffffff;
$grey: #d0d0d0;

$background: #104d75;

// Responsive Variables
$xlg: '(min-width: 1366px)';
$lg: '(min-width: 1008px)';
$md-lg: '(min-width: 641px)';
$md: '(min-width: 641px) and (max-width: 1007px)';
$sm: '(max-width: 640px)';
$sm-md: '(max-width: 1007px)';
