// -------- Colors -----------
$primary-text-color: #fff;
$secondary-text-color: #f47920;
$grey: #d0d0d0;
$light-blue: #104d75;

$background-start: #3478c1;
$background: black;

// Responsive Variables
$xlg: '(min-width: 1366px)';
$lg: '(min-width: 1008px)';
$md-lg: '(min-width: 641px)';
$md: '(min-width: 641px) and (max-width: 1007px)';
$sm: '(max-width: 640px)';
$sm-md: '(max-width: 1007px)';
