@import './globalTheme.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background: $background;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

:root {
  --thumbnail-width: 194;
  --thumbnail-width-px: 194px;

  @media #{$sm} {
    --thumbnail-width: 130;
    --thumbnail-width-px: 130px;
  }
}
