@import './globalTheme.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  max-width: 1200px;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 20px auto 0 auto;
  color: $primary-text-color;
}

.column-direction {
  flex-direction: column;
}

.title {
  flex: 1 0px;
  font-size: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.back-button {
  text-align: right;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.no-results {
  width: 100%;
}

.query-mobile {
  margin-bottom: 20px;
  @media #{$md-lg} {
    display: none;
  }
}

.back-button-row {
  width: 100%;
  margin-bottom: 20px;
}
