@import './globalTheme.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  max-width: 1200px;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 20px auto 0 auto;
  color: $primary-text-color;
}

.column-direction {
  flex-direction: column;
}

.title {
  font-size: 28px;
  margin-bottom: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
